<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="Block Party Realty: an implementation of a Blockchain-based digital real estate purchasing and selling management system">
  <title>Block Party Realty</title>
  <script defer="defer" src="/static/main.js"></script>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <a href="{{ url_for('index') }}">Home</a>
  <a href="{{ url_for('login') }}">Login</a>
  <div id="app"></div>
</body>

</html>